name: R-Type linter

on:
  pull_request:
    branches-ignore:
      - "gh-pages"

jobs:
  cpp_linter:
    name: CPP Linter
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake \
                                  build-essential \
                                  gcc \
                                  python3 \
                                  libgl-dev \
                                  libgl1-mesa-dev \
                                  libx11-xcb-dev \
                                  libfontenc-dev \
                                  libice-dev \
                                  libsm-dev \
                                  libxaw7-dev \
                                  libxcomposite-dev \
                                  libxcursor-dev \
                                  libxdamage-dev \
                                  libxext-dev \
                                  libxfixes-dev \
                                  libxi-dev \
                                  libxinerama-dev \
                                  libxkbfile-dev \
                                  libxmu-dev \
                                  libxmuu-dev \
                                  libxpm-dev \
                                  libxrandr-dev \
                                  libxrender-dev \
                                  libxres-dev \
                                  libxss-dev \
                                  libxt-dev \
                                  libxtst-dev \
                                  libxv-dev \
                                  libxxf86vm-dev \
                                  libxcb-glx0-dev \
                                  libxcb-render0-dev \
                                  libxcb-render-util0-dev \
                                  libxcb-xkb-dev \
                                  libxcb-icccm4-dev \
                                  libxcb-image0-dev \
                                  libxcb-keysyms1-dev \
                                  libxcb-randr0-dev \
                                  libxcb-shape0-dev \
                                  libxcb-sync-dev \
                                  libxcb-xfixes0-dev \
                                  libxcb-xinerama0-dev \
                                  libxcb-dri3-dev \
                                  uuid-dev \
                                  libxcb-cursor-dev \
                                  libxcb-dri2-0-dev \
                                  libxcb-dri3-dev \
                                  libxcb-present-dev \
                                  libxcb-composite0-dev \
                                  libxcb-ewmh-dev \
                                  libxcb-res0-dev \
                                  libxcb-util0-dev \
                                  libxcb-util-dev

      - name: Install Conan
        run: pip install conan

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Cache build with ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-ccache-${{ hashFiles('**/CMakeLists.txt') }}

      - name: Conan generate build directory
        run: |
          conan profile detect --force
          conan install . --build=missing

      - name: Add build files of project with CMake
        run: |
          cmake --preset conan-release  -D CMAKE_C_COMPILER_LAUNCHER=ccache \
                                        -D CMAKE_CXX_COMPILER_LAUNCHER=ccache

      - name: Linter checker
        uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: 'file'
          tidy-checks: ''
          # Disable because repo is in private mode
          # thread-comments: ${{ github.event_name == 'pull_request' && 'update' }}
          database: 'build/Release'
          step-summary: true
          extensions: 'h,hpp,c,cpp,tpp'
          ignore: '.github|*/tests'

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed > 0
        run: exit 1